<h1>Home Page</h1>
<br>
<div *nfIf="isUserAuthenticated()" style="color:blue;">
    <h2>
        
    </h2>
</div>

<br>
<ul>
    <li *ngIf="!isUserAuthenticated()">
        <div class="form-group">
            <a [routerLink]="['/login']" routerLinkActive="active">
                <button class="btn btn-info btn-lg btn-block" type="submit">
                    Login
                </button>
            </a>
        </div>
    </li>
    <li *ngIf="!isUserAuthenticated()">
        <div class="form-group">
            <a [routerLink]="['/register']" routerLinkActive="active">
                <button class="btn btn-info btn-lg btn-block" type="submit">
                    Register
                </button>
            </a>
        </div>
    </li>
    <li *ngIf="isUserAuthenticated()">
        <div class="form-group">
            
                <button class="btn btn-info btn-lg btn-block" type="submit">
                    <a class="logout" (click)="logOut()">
                        Logout
                    </a>
                    Login
                </button>
            
        </div>
    </li>
</ul>